body{
  background-color:white;
}

h1{
  margin:0 auto;
  text-align:center;
  color:#829970;
  font-family:arial;
}

img{
  height:100px;
  width:100px;
}

.pawprint{
  height:40px;
  width:60px;
  padding:10px;
}

#board{
  margin:0 auto;
  width:318px;
}


.row{
  background-color:#d9ffbb;
  height:106px;
  width:318px;
}

.square{
  border: 3px solid white;
  width:100px;
  height:100px;
  float:left;
  text-align:center;
}
