
.container{
  margin-top:70px;
  /*border:10px solid black;*/
}


.square{
  background-color:black;
  border:3px solid white;
  height:194px;
  margin:0;
  padding:0;
}

#gametitle{
  color:black;
  text-align:center;
  font-size:50px;
  padding-bottom:20px;
  font-family: 'Cabin', sans-serif;
  letter-spacing:2px;
}

.pawprint{
  height:40px;
  width:60px;
}

img{
  height:194px;
  width:189px;
}


.turn img{
  height:100px;
  width:100px;
}

.turn{
  margin:0 auto;
  text-align:center;
}

#madeby{
  font-family: 'Seaweed Script', cursive;
  text-align:center;
}

h3{
  color:red;
  font-family: 'Cabin', sans-serif;
  font-size:30px;
  text-align:center;
  background-color:black;
  letter-spacing:2px;
}

#buttonrow{
  margin:0 auto;
  width:100px;
}
